// Add items here that don't render CSS

// Colors Used
$color-primary:#009e99;  // #009e99
$color-primary-light:#00d1b2; //#00d1b2;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-grey-dark-2: #5c5c6f; 
$color-grey-dark-3: #1e1e28; 



$color-grey-light: #e0e0e6;


$color-grey-light-1: #f4f4f6;
$color-grey-light-2: #eee;
$color-white: #fff;
$color-black: #000;

$color-secondary: #D80D82;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

//GRID Widths and Lengths
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$default-border-radius: 3px;


// FONT SIZES

$default-font-size: 1.6rem;